
<%= form_for Contact.new do |f| %>

  <form>
    <div class="row">
      <div class="col-sm-4">
        <%= f.text_field :name, class: "form-control", placeholder: "Your Name" %>
      </div>
      <div class="col-sm-4">
        <%= f.email_field :email, class: "form-control", placeholder: "Email Address" %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :subject, class: "form-control", placeholder: "Message Subject" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <%= f.text_area :message, class: "form-control", placeholder: "Your message goes here...", rows: "9" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6 text-center">
        <%= f.submit "Send message", class: "btn btn-action" %>
      </div>
    </div>
  </form>

<% end %>
