
<%= link_to 'Back', products_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      
      <div class="panel-heading center">
        <%= image_tag @product.image.url(:medium) %>
      </div>

      <div class="panel-body">
        <p><%= @product.description %></p>
        <p><strong>
          <%= @product.user.email if @product.user %>
        </strong></p>

        <% if @product.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(@product) %>
        <% end %>
      </div>

    </div>
  </div>
</div>
