
<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">
        
        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>+234 23 9873237<br>
              <%= mail_to"jackieconsignsdecatur@yahoo.com", "JackieConsignsDecatur@yahoo.com" %><br>
              <br>
              <%= link_to "1059 Oak Tree Road, Decatur, Georgia 30033", "https://www.google.com/maps/place/1059+Oaktree+Rd,+Decatur,+GA+30033/@33.8097176,-84.2768461,19z/data=!4m2!3m1!1s0x88f5078f69102bc1:0xcb7631c3f21ac798", target: "_blank" %>
            </p>  
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Follow me</h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href=""><i class="fa fa-twitter fa-2"></i></a>
              <a href=""><i class="fa fa-dribbble fa-2"></i></a>
              <a href=""><i class="fa fa-github fa-2"></i></a>
              <a href=""><i class="fa fa-facebook fa-2"></i></a>
            </p>  
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title">Text widget</h3>
          <div class="widget-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
            <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <%= link_to "Home", root_path %> | 
              <%= link_to "About", about_path %> |
              <%= link_to "Contact", contacts_path %> |
              <b><%= link_to "Sign up", new_user_registration_path %></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2014, <%= link_to "Jackie Consign's Decatur", "http://www.jackieconsignsdecatur.com" %>. All rights reserved.<br />
              Web development by <%= link_to "_celly", "http://marcel.marcelandkim.com", target: "_blank" %>.  Feel free to contact <%= mail_to "marcel.sands84@gmail.com", "via email", subject: "Web Development" %>. 
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer> 
